
<header>
  <div class="header-container">
    <h1><a href="/">{{ site_name }}</a></h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">about</a>
      <!-- Add other navigation links here -->
    </nav>
  </div>
</header>
